.woocommerce.single-product form.cart input[type="button"] {
	width: inherit;
}

.woocommerce.single-product form.cart input,
.woocommerce-cart-form .quantity input {
	display: inline-block;
	height: 55px;
	text-align: center;
	margin: 0;
	line-height: 1;
}

.woocommerce.single-product .single_add_to_cart_button {
	height: 55px;
	line-height: 1;
	margin-top: 1px;
}
