/* Hide HTML5 number input spin box for Chrome, Opera & Safari */
.woocommerce .quantity input[type="number"]::-webkit-outer-spin-button,
.woocommerce .quantity input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}

/* Hide HTML5 number input spin box for Firefox */
.woocommerce .quantity input[type="number"] {
	-moz-appearance: textfield;
}

.woocommerce table.cart td.product-quantity .qty,
.woocommerce.single .qty {
	padding: 0.6180469716em 0.41575em !important;
	margin-bottom: 0 !important;
}

.woocommerce div.product form.cart .button {
	float: none !important;
	margin-bottom: 0 !important;
}

.woocommerce .quantity .plus,
.woocommerce-page .quantity .plus,
.woocommerce #content .quantity .plus,
.woocommerce-page #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce-page .quantity .minus,
.woocommerce #content .quantity .minus,
.woocommerce-page #content .quantity .minus {
	height: 56px !important;
	width: 60px !important;
}
