name: Run PHPCS, PHPLint and Psalm

on: [pull_request]

jobs:
  PHPCS:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v1

      - name: Show PHPCS sniffs
        run: ./vendor/bin/phpcs -i

      - name: Show PHPCS version
        run: ./vendor/bin/phpcs --version

      - name: Run PHP_CodeSniffer
        run: composer phpcs

  PHPLint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v1

      - name: Show PHPLint version info
        run: ./vendor/bin/phplint --version

      - name: Run PHPLint
        run: composer phplint

  Psalm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v1

      - name: Show version info
        run: ./vendor/bin/psalm --version

      - name: Run Psalm
        run: composer psalm
